<!DOCTYPE html>
<html>
  <head>
    <title>Sizeme</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Sizeme</h1>

<div id="conversionbox">
    <p>Don't compromise yourself. You are all you've got.There is no yesterday, no tomorrow, it's all the same day. -Janis Joplin </p>

</div>




  </body>
</html>
